
<header class="bar-title">
  <a class="button-prev" href="#">
    Back
  </a>
  <h1 class="title">Take a video</h1>
</header>

<div class="content">
  <div class="content-padded">
    <form>
      <div class="input-group">
        <div class="input-row">
          <label>Server</label>
          <input type="text" placeholder="http://www.sample.com">
        </div>
        <div class="input-row">
          <label>API Command</label>
          <input type="text" placeholder="/upload">
        </div>
        <div class="input-row">
          <label>Parameter</label>
          <input type="text" placeholder="user=p1&pwd=p2">
        </div>
      </div>
      <a class="button-main button-block" ng-click="saveSetting()">Save</a>
    </form>
  </div>
</div>