
<header class="bar-title">
  <a class="button-prev" href="#">
    Back
  </a>
  <h1 class="title">Take a picture</h1>
</header>
<div class="content">
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        <!--<img class="item" ng-src="{{cameraimage}}" style="height: 350px;"/>-->
        <img class="item" id="cameraimage" style="height: 350px;"/>
        <div>{{filepath}}</div>
      </li>
    </ul>
  </div>
  <a class="button-main btn-container" ng-click="takePicture()">Take Photo</a>
  <a class="button-main btn-container" ng-click="uploadPicture()">Upload</a>
</div>
